<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>事妈驾到</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/affix.js"></script>
    <style>
    .border-li{
      border-top:1px #eee solid;
      border-left:1px #eee solid;
      border-right:1px #eee solid;
      width: 100%;
    }

    .affix {
      width: 250px;
    }
      .container{
        width: 80%;
        margin: 0 auto;
        -webkit-column-count:3;
        column-count:3;
        -webkit-column-gap: 2em;
        column-gap: 2em;
      }

      .box{
        -webkit-column-break-inside:avoid;
        column-break-inside:avoid;
      }

      .first-title{
        position: absolute;
        bottom: 0;
        width: 290px;
        height: 25px;
        line-height: 25px;
        background: rgba(0,0,0,0.6);
        color: white;
      }

      .first-cover{
        width: 290px;
        height: 160px;
      }

      .cover{
        position: absolute;
        width: 78px;
        height: 78px;
        right: 10px;
      }

      .box-container{
        position:relative;
        width: 290px;
        /*border: 1px solid #e7e7eb;
        padding: 10px;*/
      }

      .title{
        width: 175px;
        position: absolute;
        top: 30px;
      }
      .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f4f4f4;
        width: 290px;
      }

      a{
        text-decoration: none;
      }

      .footer > div{
        width: 145px;
        height: 44px;
        line-height: 44px;
        text-align: center;
      }

      .footer a{
        color: #b2b2b2;
      }

      .footer a:hover{
        color: black;
      }
    </style>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  </head>
  <body>
<div class="row">
  <div class="col-sm-2">
      <ul data-spy="affix" id="myAffix" class="nav affix">
        <li class="border-li"><a href="/list" style="display:flex;flex-direction:row;align-items:center;justify-content:center;width:100%;">列表</a></li>
        <li class="border-li" ><a href="/add" style="display:flex;flex-direction:row;align-items:center;justify-content:center;width:100%;">新增</a></li>
        <li class="border-li" style="border-bottom:1px #eee solid;"><a href="/sendAll" style="display:flex;flex-direction:row;align-items:center;justify-content:center;width:100%;">群发</a></li>
  		</ul>
    </div>
    <div class="col-sm-10">
    <div class="container">
      <% if (docs.length) { %>
          <% docs.forEach(function(doc){ %>
            <div class="box">
              <% for(var i = 0; i < doc.docs.length; i++){
                  var d = doc.docs[i]; %>

                  <% if(i == 0) { %>
                    <div class="box-container" style="overflow:hidden;">
                    <div class="first-title"><%= d.title %></div>
                    <img class="first-cover" src="/document/<%= doc.id %>/<%= d.cover %>" alt="">
                  <% } %>
                  <% if(i > 0) { %>
                    <div class="box-container" style="height:88px;">
                    <div class="title"><%= d.title %></div>
                    <img class="cover" src="/document/<%= doc.id %>/<%= d.cover %>" alt="">
                  <% } %>
                </div>
              <% } %>
              <div class="footer">
                <div style="border-right:1px solid #e7e7eb;"><a href="/edit/<%= doc.id %>">编辑</a></div>
                <div><a href="/delete/<%= doc.id %>">删除</a></div>
              </div>
            </div>

          <% }) %>
      <% } %>
    </div>
  </div>
</div>
  </body>
</html>
<script>
  $(document).ready(function(){
    $('#myAffix').affix({
      offset: {
        bottom: ($('footer').outerHeight(true) +
            $('.application').outerHeight(true)) + 40
    }
    })
  })
</script>
